@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 1.5rem;
  margin: 0
}

img {
  display: block;
  margin: auto;
  width: 50px;
}

p {
  margin: 0;
}

@media only and screen (min-width: 25em) {

  html {
    margin: auto;
  }
}

@media only and screen (min-width: 38em) {

  html {
    margin: auto;
  }
}

@media only and screen (min-width: 60em) {

  html {
    margin: auto;
  }
}

@media only and screen (min-width: 90em) {

  html {
    margin: auto;
  }
}
