@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  display: inline-block;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.card {

  width: 100%;
}

.card-body h2 {
  margin-bottom: 0;
}

h2.card-body {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.card-img img {
  display: block
}

img.card-img {
  display: block;
  margin: auto;
  width: 50px;
}

.card-body p {
  margin-top: 0;
}

p.card-body {
  margin-top: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  img.card-img {
    position: absolute;
    margin: 1em;
    display: inline-block;
  }

  h2.card-body {
    display: inline-block;
    padding-left: 3.5em;
  }

  p.card-body {
    display: inline-block;
    padding-left: 5.5em;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .cards {
    display: inline-block;
    width: 33%;
  }

  .card {
    display: inline;
    width: 33%
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }
}
